.App {
  text-align: center;
}

.App header {
  height: 14.5rem;
  position: top;
  margin: -21px;
  text-align: left;
  background-image: url(./images/wp9637255.jpg);
  background-size: cover;
  color: white;
}

header .picture1 {
  align-items: right;
  float: right;
  border-radius: 50%;
  max-width: 13.5rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

h1 {
  margin-left: 1.7rem;
}

h2 {
  padding-left: 2.7rem;
}



.bio {
  line-height: 1.6;
  margin: auto;
  width: 70rem;
  font-size: 1.3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.foxy {
  align-items: right;
  float: right;
  border-radius: 50%;
  max-width: 10rem;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.fred {
  align-items: left;
  float: left;
  border-radius: 100%;
  max-width: 10rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.bio-text {
  align-items: center;
}

.pets {
  max-width: 20rem;
  border: 2px solid black;
}

.pet-pictures {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  align-self: center;
  max-width: 75rem;
  margin: auto;
}

.music {
  position: relative;
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.music-text {
  margin: auto;
}

.spotify-link-div {
  width: 100px;
  height: 25px;
  color: white;
  text-decoration: none;
  margin: auto;
  background-color: #1ed724;
  border: 2px solid #1ed724;
}

.music-text a {
  color: white;
  text-decoration: none;
}

.spotify-logo {
  padding-top: 1rem;
  max-width: 10rem;
}

.album-art-image {
  max-width: 25rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
